@import '../styles/bootstrap-vars';
@import '../styles/mixins';

.dashboard-sidebar {
    @include media(below_md) {
        display: flex;
        // align-items: stretch;
        justify-content: center;
    }

    @include media(above_md) {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

.sidebar-link {
    color: rgba($white, 0.5);
    display: block;
    font-size: 16px;
    text-align: center;
    transition: color .15s ease-in-out;

    &.active {
        color: $white;
    }

    &:hover {
        color: $white;
    }

    @include media(below_md) {
        padding: 0 1.4375em;
        display: flex;
        align-items: center;
    }

    @include media(above_md) {
        padding: 1.4375em 0;
    }
}
